<form action="Login" method="post">
    <div class="form-group">
        <label for="nameInput">UserName</label>
        <input type="text" class="form-control" name="username" id="nameInput" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="InputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label text-danger">@ViewBag.Messager</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>